.box {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;

  .title {
    color: #a6a434;
    font-size: 0.36rem;
  }

  .btnGroup {
    flex: 1;
    overflow: auto;
    margin-top: 0.2rem;

    .btn {
      margin-bottom: 0.2rem;
    }
  }
}
